*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
.idea

# Installer logs
pip-log.txt

# Unit test / coverage reports
.pytest_cache/
.coverage
.tox

# Translations
*.mo

# Mr Developer
.mr.developer.cfg

# IDEs and text editors
*.code-workspace
*.sublime-*
.idea/
.vscode/

.editorconfig
.DS_Store

# Virtual Env ignore
venv
