default_language_version:
    python: python3.8
repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v4.0.1
        hooks:
        -   id: check-yaml
        -   id: end-of-file-fixer
        -   id: trailing-whitespace
    -   repo: https://github.com/psf/black
        rev: 21.9b0
        hooks:
        -   id: black
    -   repo: https://gitlab.com/PyCQA/flake8
        rev: 3.9.2
        hooks:
        -   id: flake8
