dist: xenial
language: python
python:
  - '2.7'
  - '3.4'
  - '3.5'
  - '3.6'
  - '3.7'
cache: pip
install:
  - pip install --upgrade pip setuptools wheel
  - pip install -r requirements.txt
  - pip install -e .
script:
  - pytest --cov=mws
after_success:
  - pip install 'flake8>=3.5.0'
  - flake8
  - pip install codecov
  - codecov
