-r requirements.txt

# pre-commit hooks to ensure code quality before committing.
pre-commit

# linting
flake8

# formatting
black>=20.8b1

# testing
pytest
pytest-cov

# documentation
sphinx>=3.2.0,<3.3
sphinx-autobuild>=0.7.1
sphinx-rtd-theme

# reStructuredText (rST) linting for documentation
rstcheck

# releasing
twine
