name: Testing

on: [push, pull_request]

jobs:
  test_suite:
    runs-on: ${{ matrix.os }}

    # Strategy sets up a matrix of python versions to run the tests against
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        # Periodically check for versions here: https://github.com/actions/python-versions
        python-version: [3.5, 3.6, 3.7, 3.8, 3.9.0-rc.1]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -e .

    - name: Run pytest
      run: |
        pip install pytest
        pytest
